---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <meta name="twitter:card" content="summary">
		<meta property="twitter:title" content="Munwalker Blog">
		<meta property="twitter:description" content="Blog">
		<meta property="twitter:image" content="https://munwalkerbtc.github.io/munwalker-blog/banner-sol.png">
		<meta property="twitter:url" content="https://munwalkerbtc.github.io/munwalker-blog/">
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello tech enthusiasts!</h1>
      <p>
        I am a software engineer, with years of experience in full-stack web development. I am on a quest to learn about the crypto space. 
        I created this blog site to track my progress as I teach myself how to develop on the Solana blockchain. 
        Join me and follow along as I work through the <a href="https://www.soldev.app/course">Solana development course</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
